
unless _.isEmpty(resume.publications)
  .detail#publications
    .icon
      i.fs-lg.icon-newspaper
      span.mobile-title Publications

    .info
      a(href="#publications")
        h4.title.text-uppercase Publications

      .content
        ul.list-unstyled
          - each publication in resume.publications
            li.card.card-nested
              .content
                p.clear-margin
                  strong
                    if publication.website
                      a(href=publication.website, target="_blank")= publication.name
                    else
                      a(href="#publications")
                        |#{publication.name}

                  unless _.isEmpty(publication.slides)
                    |&nbsp;
                    a(href=publication.slides, target="_blank")= "[Slides]"

                  unless _.isEmpty(publication.sources)
                    - each source in publication.sources
                      |&nbsp;
                      a(href=source.website, target="_blank")= source.name

                  if publication.bestpaper
                    |&nbsp;
                    span.label.label-best= "Best Paper"

                p.clear-margin
                  small
                    |!{publication.author}

                p.text-muted
                  small= publication.publisher

                unless _.isEmpty(publication.links)
                  span.label.label-media= "Link: "
                  small
                    - each media in publication.links
                      a(href=media.website, target="_blank").media= media.name
                      | ,

                unless _.isEmpty(publication.medias)
                  span.label.label-media= "Media: "
                  small
                    - each media in publication.medias
                      a(href=media.website, target="_blank").media= media.name
                      | ,
                    | ...

                p.text-muted
                  small= publication.releaseDate
